@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cta-button {
  @apply px-4 py-2 leading-none rounded text-white bg-teal-900 hover:bg-teal-800 w-fit;
}

.home-cta-button {
  @apply px-4 py-2 leading-none border rounded text-white bg-teal-900 hover:bg-teal-800 w-fit bg-opacity-90;
}

.send-button {
  @apply px-4 py-2 leading-none rounded text-white bg-teal-900 hover:bg-teal-800 w-fit min-w-[100px];
}

input[type='text'],
input[type='email'],
input[type='tel'],
select,
textarea {
  @apply block w-full rounded bg-stone-50 border-transparent focus:ring-0;
}

input[type='text'].invalid,
input[type='email'].invalid,
input[type='tel'].invalid,
select.invalid,
textarea.invalid {
  @apply ring-1 ring-red-600;
}

.geolocate-button {
  @apply flex items-center w-fit pe-2 !important;
}

.geolocate-button > span {
  @apply w-[29px] !important;
}
